####################################
# Maven
####################################

target/
!**/src/main/**/target/
!**/src/test/**/target/

.mvn/wrapper/maven-wrapper.jar

####################################
# Uploaded Files
####################################

uploads/

####################################
# Logs
####################################

*.log
logs/

####################################
# Environment / Secrets
####################################

.env
.env.*
application-local.properties
application-dev.properties

####################################
# IntelliJ IDEA
####################################

.idea/
*.iws
*.iml
*.ipr

####################################
# STS / Eclipse
####################################

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

####################################
# VS Code
####################################

.vscode/

####################################
# NetBeans
####################################

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

####################################
# OS Files
####################################

.DS_Store
Thumbs.db

####################################
# Java
####################################

*.class

####################################
# Temporary Files
####################################

*.tmp
*.temp